#app > * {
    margin-left: 2em;
}
ol {
    float: left;
    padding-left: 0;
}
li {
    list-style-type: none;
}


form {
    display: inline-block;
}
form * {
    display: block;
}
form label {
    margin-top: 1em;
}
